git+https://github.com/alanjds/drf-nested-routers
git+https://github.com/aaSemble/python-dbuild#egg=dbuild
git+https://github.com/Tivix/django-rest-auth@3189a5c7a0be6540f8b57642cce71176879205e2#egg=django-rest-auth
git+https://github.com/aaSemble/drf-tracking#egg=drf-tracking
apache-libcloud
pycrypto
paramiko
python-gnupg


Django==1.9.1
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.11
amqp==1.4.7
anyjson==0.3.3
argparse==1.2.1
backports.ssl-match-hostname==3.5.0.1
billiard==3.3.0.21
celery==3.1.19
chardet==2.3.0
#dbuild==0.1
dj-static==0.0.6
django-allauth==0.24.1
django-bootstrap3==6.2.2
django-celery==3.1.17
django-cors-headers==1.1.0
#django-rest-auth==0.6.0
djangorestframework==3.3.2
docker-py==1.6.0
#drf-nested-routers==0.12.0
#drf-tracking==0.2.3
github3.py==0.9.4
kombu==3.0.29
mysqlclient==1.3.7
oauthlib==1.0.3
python-debian==0.1.23
python-openid==2.2.5
pytz==2015.7
redis==2.10.5
requests==2.9.1
requests-oauthlib==0.6.0
six==1.10.0
static3==0.6.1
uritemplate.py==0.3.0
websocket-client==0.35.0
wsgiref==0.1.2
